{
    "tabWidth": 4,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.astro", "*.tsx"],
            "options": {
                "parser": "astro"
            }
        }
    ]
}
