@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-story-script: "StoryScript", sans-serif;
}

@font-face {
  font-family: "StoryScript";
  src: url("/fonts/story-script/StoryScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
