---
import Layout from "../../../layouts/Layout.astro";
import ProductCard from "../../../components/products/ProductCard.astro";
import { supabase } from "../../../db/supabase";

export const prerender = false;

const tabName = "Productos";

const { data, error } = await supabase.from("products").select('*');

console.log("Prod: ", data);
---

<Layout title={tabName}>
    <div id={`${tabName}-main-container`} class="flex w-full h-full justify-center">
        <div class="w-full lg:w-[50%] px-2 h-full flex flex-col items-center gap-2 mb-2">
            {
                data?.map(product => (
                    <ProductCard product={product} />
                ))
            }
        </div>
    </div>
</Layout>