---
import Layout from "../../../layouts/Layout.astro";
import { PRODUCTS_ES } from "../../../constants/products.ts";
import ProductCard from "../../../components/products/ProductCard.astro";

const tabName = "Productos";

console.log("PRODUCTS", PRODUCTS_ES);

---

<Layout title={tabName}>
    <div id={`${tabName}-main-container`} class="w-full h-full flex flex-col px-2 py-4 pb-2 gap-2">
        {
            PRODUCTS_ES.map(productType => (
                <ProductCard product={productType} />
            ))
        }
    </div>
</Layout>