---
import ProductCard from "../../../components/products/ProductCard.astro";
import { supabase } from "../../../db/supabase";
import type { ProductDetail } from "../../../types/products";

const { category } = Astro.props || "TODOS";

const { data, error } = await supabase.from("products").select("*");

let productsFiltered: ProductDetail[] = [];

if (data) {
    productsFiltered = category === "TODOS" 
        ? data as ProductDetail[] 
        : (data as ProductDetail[]).filter(product => product.category === category);
}
---

<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {
        productsFiltered && productsFiltered.length > 0 ? (
            productsFiltered.map(product => (
                <ProductCard product={product} />
            ))
        ) : (
            <p class="col-span-full text-center text-stone-500 py-12 font-light">
                No se encontraron productos en esta categoría.
            </p>
        )
    }
</div>