---
import ShoppingCart from "../../assets/svg/shopping-cart.svg";
import CartResume from "./CartResume.astro";
import ShoppingResumeContainer from "./ShoppingResumeContainer.astro";
import Close from "../../assets/svg/close.svg";

---

<button 
    id="cart-toggle-btn"
    aria-label="Abrir carrito de compras"
    class="fixed bottom-10 right-5 z-50 p-4 rounded-full flex items-center justify-center bg-green-800 text-white shadow-lg hover:bg-green-700 hover:shadow-xl hover:-translate-y-1 hover:cursor-pointer transition-all duration-300 focus:outline-none focus:ring-4 focus:ring-green-900/30 group"
>
    <ShoppingCart class="size-7 transition-transform group-hover:scale-110" />

    <span id="cart-badge" class="absolute -top-1 -right-1 flex h-6 w-6 items-center justify-center rounded-full bg-red-500 text-xs font-bold text-white shadow-sm border-2 border-white">
        0
    </span>
</button>

<div 
    id="cart-backdrop" 
    class="fixed inset-0 bg-neutral-900/40 z-40 opacity-0 pointer-events-none transition-opacity duration-300 backdrop-blur-sm"
></div>

<section 
    id="cart-drawer" 
    class="fixed bottom-0 left-0 w-full md:w-120 md:left-auto md:right-5 md:bottom-0 md:rounded-2xl h-[80vh] md:h-[600px] max-h-screen bg-white z-50 transform translate-y-full transition-transform duration-500 ease-[cubic-bezier(0.32,0.72,0,1)] rounded-t-3xl shadow-2xl flex flex-col overflow-hidden"
>
    <div class="p-6 border-b border-neutral-100 flex justify-between items-center bg-stone-50">
        <h2 class="text-2xl font-serif text-green-900">Tu Despensa</h2>
        <button id="close-cart-btn" class="p-2 text-red-500 hover:text-red-400 hover:bg-stone-200 hover:cursor-pointer rounded-full transition-colors" aria-label="Cerrar carrito">
            <Close />
        </button>
    </div>

    <div id="shop-items-list" class="flex-1 overflow-y-auto p-6 flex flex-col gap-4">

    </div>

    <CartResume />
</section>

<script>
    import { initCartMenu } from "../../utils/ShopCartScripts";

    // document.addEventListener("DOMContentLoaded", initCartMenu);
    document.addEventListener("astro:page-load", initCartMenu);
</script>


<script>
    import type { ShopItem } from "../../types/shop";

    function init () {
        const cartBtn = document.getElementById("cart-toggle-btn") as HTMLButtonElement;
        
        function loadItems () {
            const itemsList = document.getElementById("shop-items-list") as HTMLButtonElement;
            if(!itemsList) return;

            console.log(itemsList)

            try {
                console.log("items")
                const itemsString = localStorage.getItem("SHOP_LIST") ?? "";
                const items: ShopItem[] = JSON.parse(itemsString);


                items.map((item) => {
                    itemsList.innerHTML += createItem(item);
                })

            } catch (e) {
                console.error("Error: ", e);
            }
        }

        function createItem (item: ShopItem) {
            return (`
                <div class="flex gap-4 pb-4 border-b border-stone-100">
                    <div class="w-20 h-20 bg-stone-200 rounded-md overflow-hidden">
                        <!-- <img src="/placeholder-jamon.jpg" alt="" class="w-full h-full object-cover opacity-50" /> -->
                    </div>
                    <div class="flex-1">
                        <h3 class="font-bold text-stone-800 text-sm leading-tight">${item.name}</h3>
                        <p class="text-stone-500 text-xs mt-1">${item.quantity} x ${item.format}</p>
                    </div>
                    <button class="text-stone-300 hover:text-red-500 hover:cursor-pointer transition-colors self-start">
                        <Delete />
                    </button>
                </div>        
            `);
        }

        cartBtn.addEventListener("click", loadItems);
    }

    document.addEventListener("astro:page-load", init);

</script>