---
import Layout from "../../layouts/Layout.astro";
import Presentation from "../../components/home/Presentation.astro";
import Catalog from "../../components/home/Catalog.astro";

import {bussiness_name} from "../../docs/bussiness-data.json";
---

<Layout title={`Inicio - ${bussiness_name}`}>
    <div id="home-main-container" class="w-full h-full flex flex-col font-sans bg-white">
        <Presentation />
        <Catalog />
    </div>
</Layout>