---
import { ClientRouter } from "astro:transitions";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import "../styles/global.css";

interface Props {
    title: string
}

const { title } = Astro.props;

const userLang = "es"; 
---

<!doctype html>
<html lang={userLang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />
        <title>{title}</title>
    </head>
    <body class="flex flex-col min-h-screen bg-neutral-100 text-neutral-900">
        <Header />
        <main class="flex-1 pt-18 font-inter">
            <slot />
        </main>
        <Footer />
    </body>
</html>