---
import { ClientRouter } from "astro:transitions";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import "/src/styles/global.css";

interface Props {
	title: string
}

const { title } = Astro.props;

const userLang = navigator.language.split("-")[0] || "es";
---

<!doctype html>
<html lang={userLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-neutral-100 text-neutral-900">
		<Header />
		<main class="flex-1 pt-20">
			<slot />
		</main>
		<Footer />
	</body>
</html>